<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serverConfiguration" type="vSphereHostShutdown.VSphereServerSection, vSphereHostShutdown"/>
  </configSections>
  <serverConfiguration>
    <servers>
      <server name="example" host="esxi.example.com" username="ups-shutdown" password="password" />
    </servers>
  </serverConfiguration>
</configuration>